.track-name,
.track-length {
  margin-bottom: 0;
}

.form-check-input:checked + .checkbox-icon {
  color: springgreen; /* Change the color to your liking */
}

.checkbox-icon {
  display: inline-block;
}

.checkbox-icon {
  transition: transform 0.1s ease;
}

.form-check-input:checked:hover + .checkbox-icon {
  transform: scale(1.1);
}

.form-check-input:checked:active + .checkbox-icon {
  color: grey;
}

.form-check-input:not(:checked) + .checkbox-icon {
  color: darkgray; /* Change the color to your liking */
}

.form-check-input:not(:checked):not(:active):hover + .checkbox-icon {
  color: white; /* Change the color to your liking */
}

.track-button {
  transform: scale(1.2);
}

.bi-play-fill, .bi-pause-fill {
  color: lightgrey;
}

.bi-play-fill:hover, .bi-pause-fill:hover {
  color: white;
}

.progress-bar {
  width: 50% !important;
  height: 5px;
  background: gray !important;
  vertical-align: middle;
}

.progress {
  height: 5px;
  --bs-progress-bg: lightgrey !important;
  width: 0;
  transition: width 0.5s linear;
}

.progress-bar:hover .progress {
  --bs-progress-bg: springgreen !important;
}